@using Dnn.Modules.Newsletters.Models
@model AttachmentPickerModel

@{
    var prefix = Model.IdPrefix ?? "Attachment";
    var folderSelectId = prefix + "_FolderId";
    var fileSelectId = prefix + "_FileId";
    var uploadInputId = prefix + "_UploadFiles";
    var dropzoneId = prefix + "_Dropzone";
    var fileListId = prefix + "_FileList";
    var addBtnId = prefix + "_AddBtn";
}

<div class="dnnFormItem dnnAttachmentPicker" data-moduleid="@Model.ModuleId" data-prefix="@prefix">
    <input type="file" id="@uploadInputId" name="UploadFiles" multiple class="attachment-hidden-input" />
    <div class="dnnLabel" style="position:relative">
        <label>@Model.Label</label>
    </div>
    <div class="attachment-picker-content">
        <div class="attachment-picker-grid">
            <div class="attachment-picker-left">
                <div class="attachment-picker-row">
                    <label class="picker-label" for="@folderSelectId">Folder:</label>
                    <select id="@folderSelectId" name="AttachmentFolderId">
                        @foreach (var folder in Model.Folders)
                        {
                            <option value="@folder.FolderId" @(folder.FolderId == Model.SelectedFolderId ? "selected=\"selected\"" : "")>@folder.DisplayName</option>
                        }
                    </select>
                </div>
                <div class="attachment-picker-row">
                    <label class="picker-label" for="@fileSelectId">File:</label>
                    <select id="@fileSelectId">
                        <option value="">&lt;None Specified&gt;</option>
                        @foreach (var file in Model.Files)
                        {
                            <option value="@file.FileId">@file.FileName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="attachment-dropzone" id="@dropzoneId">
                <div class="dropzone-content">
                    <p>Drop file(s) here</p>
                    <p>or <a href="javascript:void(0)" class="dropzone-browse">browse</a></p>
                </div>
            </div>
        </div>
        <div class="attachment-file-list" id="@fileListId">
            @foreach (var att in Model.SelectedAttachments)
            {
                <div class="attachment-item" data-file-id="@att.FileId">
                    <input type="hidden" name="AttachmentFileIds" value="@att.FileId" />
                    <span class="attachment-item-icon">&#128196;</span>
                    <span class="attachment-item-name">@att.FileName</span>
                    <button type="button" class="attachment-item-remove" title="Remove">&times;</button>
                </div>
            }
        </div>
    </div>
</div>

