@using Dnn.Modules.Newsletters.Models
@model AttachmentPickerModel

@{
    var prefix = Model.IdPrefix ?? "Attachment";
    var folderSelectId = prefix + "_FolderId";
    var fileSelectId = prefix + "_FileId";
    var uploadInputId = prefix + "_UploadFiles";
    var dropzoneId = prefix + "_Dropzone";
    var fileListId = prefix + "_FileList";
}

<div class="nl-row nl-attachment" data-moduleid="@Model.ModuleId" data-prefix="@prefix">
    <input type="file" id="@uploadInputId" name="UploadFiles" multiple class="nl-attachment-hidden-input" />
    <div class="nl-label">
        <label>@Model.Label</label>
    </div>
    <div class="nl-control nl-attachment-content">
        <div class="nl-attachment-grid">
            <div class="nl-attachment-left">
                <div class="nl-attachment-row">
                    <label class="nl-attachment-rowlabel" for="@folderSelectId">Folder:</label>
                    <select id="@folderSelectId" name="AttachmentFolderId" class="nl-input nl-select">
                        @foreach (var folder in Model.Folders)
                        {
                            <option value="@folder.FolderId" @(folder.FolderId == Model.SelectedFolderId ? "selected=\"selected\"" : "")>@folder.DisplayName</option>
                        }
                    </select>
                </div>
                <div class="nl-attachment-row">
                    <label class="nl-attachment-rowlabel" for="@fileSelectId">File:</label>
                    <select id="@fileSelectId" class="nl-input nl-select">
                        <option value="">&lt;None Specified&gt;</option>
                        @foreach (var file in Model.Files)
                        {
                            <option value="@file.FileId">@file.FileName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="nl-dropzone" id="@dropzoneId">
                <div class="nl-dropzone-content">
                    <p>Drop file(s) here</p>
                    <p>or <a href="javascript:void(0)" class="nl-dropzone-browse">browse</a></p>
                </div>
            </div>
        </div>
        <div class="nl-attachment-list" id="@fileListId">
            @foreach (var att in Model.SelectedAttachments)
            {
                <div class="nl-attachment-item" data-file-id="@att.FileId">
                    <input type="hidden" name="AttachmentFileIds" value="@att.FileId" />
                    <span class="nl-attachment-icon">&#128196;</span>
                    <span class="nl-attachment-name">@att.FileName</span>
                    <button type="button" class="nl-attachment-remove" title="Remove">&times;</button>
                </div>
            }
        </div>
    </div>
</div>
