@using Dnn.Modules.Newsletters.Models
@using DNNConnect.CKEditorProvider.Web
@using DotNetNuke.Web.MvcPipeline.Modules
@model NewsletterViewModel

<div class="dnnForm dnnNewsletters dnnClear"
     id="dnnNewsletters_@Model.ModuleId"
     data-moduleid="@Model.ModuleId"
     data-initial-entries="@Html.Raw(HttpUtility.HtmlAttributeEncode(Model.InitialEntries ?? "[]"))"
     data-text-noresults="@Html.LocalizeString("NoResults")"
     data-text-searching="@Html.LocalizeString("Searching")">

    <div class="status-area">
        @if (!string.IsNullOrWhiteSpace(Model.StatusMessage))
        {
            <div class="@Model.StatusCssClass">@Model.StatusMessage</div>
        }
    </div>

    <ul class="dnnAdminTabNav dnnClear">
        <li><a href="#newMessage_@Model.ModuleId">@Html.LocalizeString("Message")</a></li>
        <li><a href="#newAdvancedSettings_@Model.ModuleId">@Html.LocalizeString("AdvancedSettings")</a></li>
    </ul>

    <form id="newsletterForm_@Model.ModuleId">

        <div class="newMessage" id="newMessage_@Model.ModuleId">
            <fieldset>
                <div class="dnnFormItem">
                    <div class="dnnLabel" style="position:relative">
                        <label for="recipients_@Model.ModuleId">@Html.LocalizeString("plRoles")</label>
                    </div>
                    <input type="text" id="recipients_@Model.ModuleId" name="Recipients" value="@Model.Recipients" />
                </div>

                @if (Model.LanguagesVisible && Model.AvailableLanguages.Count > 0)
                {
                    <div class="dnnFormItem">
                        <div class="dnnLabel" style="position:relative">
                            <label>@Html.LocalizeString("plLanguages")</label>
                        </div>
                        <div class="dnnLangSelector">
                            <ul>
                                @foreach (var language in Model.AvailableLanguages)
                                {
                                    <li>
                                        <label>
                                            <input type="checkbox" name="SelectedLanguages" value="@language.Value" @(language.Selected ? "checked=\"checked\"" : string.Empty) />
                                            @language.Text
                                        </label>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }

                <div class="dnnFormItem">
                    <div class="dnnLabel" style="position:relative">
                        <label for="AdditionalEmails_@Model.ModuleId">@Html.LocalizeString("plEmail")</label>
                    </div>
                    <textarea id="AdditionalEmails_@Model.ModuleId" name="AdditionalEmails" rows="3" class="noResize">@Model.AdditionalEmails</textarea>
                </div>

                <div class="dnnFormItem">
                    <div class="dnnLabel" style="position:relative">
                        <label for="From_@Model.ModuleId">@Html.LocalizeString("plFrom")</label>
                    </div>
                    <input type="text" id="From_@Model.ModuleId" name="From" maxlength="100" value="@Model.From" />
                </div>

                <div class="dnnFormItem">
                    <div class="dnnLabel" style="position:relative">
                        <label for="ReplyTo_@Model.ModuleId">@Html.LocalizeString("plReplyTo")</label>
                    </div>
                    <input type="text" id="ReplyTo_@Model.ModuleId" name="ReplyTo" maxlength="100" value="@Model.ReplyTo" />
                </div>

                <div class="dnnFormItem">
                    <div class="dnnLabel" style="position:relative">
                        <label for="Subject_@Model.ModuleId">@Html.LocalizeString("plSubject")</label>
                    </div>
                    <input type="text" id="Subject_@Model.ModuleId" name="Subject" maxlength="100" value="@Model.Subject" />
                </div>

                <div class="dnnFormItem ckediv">
                    <div class="dnnLabel" style="position:relative">
                        <label for="Message">@Html.LocalizeString("Message")</label>
                    </div>
                    @Html.CKEditorEditorFor(x => x.Message, Model.ModuleId)
                </div>
            </fieldset>
        </div>

        <div class="newAdvancedSettings" id="newAdvancedSettings_@Model.ModuleId">
            <fieldset>
                @Html.Partial("~/DesktopModules/Admin/Newsletters/Views/Shared/_AttachmentPicker.cshtml", Model.Attachment)

                <div class="dnnFormItem">
                    <div class="dnnLabel" style="position:relative">
                        <label for="ReplaceTokens_@Model.ModuleId">@Html.LocalizeString("plReplaceTokens")</label>
                    </div>
                    <input type="checkbox" id="ReplaceTokens_@Model.ModuleId" name="ReplaceTokens" @(Model.ReplaceTokens ? "checked=\"checked\"" : string.Empty) />
                </div>

                <div class="dnnFormItem">
                    <div class="dnnLabel" style="position:relative">
                        <label for="Priority_@Model.ModuleId">@Html.LocalizeString("plPriority")</label>
                    </div>
                    <select id="Priority_@Model.ModuleId" name="Priority">
                        <option value="1" @(Model.Priority == "1" ? "selected=\"selected\"" : string.Empty)>@Html.LocalizeString("High")</option>
                        <option value="2" @(Model.Priority == "2" ? "selected=\"selected\"" : string.Empty)>@Html.LocalizeString("Normal")</option>
                        <option value="3" @(Model.Priority == "3" ? "selected=\"selected\"" : string.Empty)>@Html.LocalizeString("Low")</option>
                    </select>
                </div>

                <div class="dnnFormItem">
                    <div class="dnnLabel" style="position:relative">
                        <label for="SendMethod_@Model.ModuleId">@Html.LocalizeString("plSendMethod")</label>
                    </div>
                    <select id="SendMethod_@Model.ModuleId" name="SendMethod">
                        <option value="TO" @(Model.SendMethod == "TO" ? "selected=\"selected\"" : string.Empty)>@Html.LocalizeString("SendTo")</option>
                        <option value="BCC" @(Model.SendMethod == "BCC" ? "selected=\"selected\"" : string.Empty)>@Html.LocalizeString("SendBCC")</option>
                        <option value="RELAY" @(Model.SendMethod == "RELAY" ? "selected=\"selected\"" : string.Empty)>@Html.LocalizeString("SendRelay")</option>
                    </select>
                </div>

                <div class="dnnFormItem relay-address-panel" style="display:@(Model.RelayAddressVisible ? "block" : "none")">
                    <div class="dnnLabel" style="position:relative">
                        <label for="RelayAddress_@Model.ModuleId">@Html.LocalizeString("plRelayAddress")</label>
                    </div>
                    <input type="text" id="RelayAddress_@Model.ModuleId" name="RelayAddress" maxlength="100" value="@Model.RelayAddress" />
                </div>

                <div class="dnnFormItem">
                    <div class="dnnLabel" style="position:relative">
                        <label for="SendAction_@Model.ModuleId">@Html.LocalizeString("plSendAction")</label>
                    </div>
                    <div class="dnnNewsletterRadios">
                        <input type="radio" id="Sendaction-S_@Model.ModuleId" name="SendAction" value="S" @(Model.SendAction == "S" ? "checked=\"checked\"" : string.Empty) />
                        <label for="Sendaction-S_@Model.ModuleId">@Html.LocalizeString("Synchronous")</label>
                        <input type="radio" id="Sendaction-A_@Model.ModuleId" name="SendAction" value="A" @(Model.SendAction == "A" ? "checked=\"checked\"" : string.Empty) />
                        <label for="Sendaction-A_@Model.ModuleId">@Html.LocalizeString("Asynchronous")</label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="commands">
            <div class="dnnLabel" style="position:relative">&#160;</div>
            <div style="display:inline-block;">
                <ul class="dnnActions dnnClear">
                    <li><button type="button" class="dnnPrimaryAction btn-send">@Html.LocalizeString("cmdSend")</button></li>
                    <li><button type="button" class="dnnSecondaryAction btn-preview">@Html.LocalizeString("cmdPreview")</button></li>
                </ul>
            </div>
        </div>

        <div class="preview-panel dnnForm" style="display:none">
            <table>
                <tr>
                    <td style="width:100px; vertical-align:top">@Html.LocalizeString("Preview")</td>
                    <td style="width:460px;"></td>
                </tr>
                <tr>
                    <td style="width:100px; vertical-align:top">@Html.LocalizeString("plSubject")</td>
                    <td style="width:460px;" class="preview-subject-content"></td>
                </tr>
                <tr>
                    <td style="width:100px; vertical-align:top">@Html.LocalizeString("Message")</td>
                    <td style="width:460px;" class="preview-body-content"></td>
                </tr>
            </table>
            <ul class="dnnActions dnnClear">
                <li><button type="button" class="dnnPrimaryAction btn-cancel-preview">@Html.LocalizeString("cmdCancelPreview")</button></li>
            </ul>
        </div>

    </form>
</div>
